
.main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-color: #1a1a1a;
    overflow: hidden;
    
}
.heading-section {
    background: linear-gradient(to top, #000, #090909, #131313, #1a1a1a, #202020);
    // padding: 0.5rem;
    flex : 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    h1.title {
       
        transform: rotate(270deg);
        color: white;
        font-weight: bold;
        font-size: 70px;
        text-shadow:0px 1px 2px rgba(black, 0.12);
    }
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    max-width: 800px;
    flex: 8;
    margin: 3rem;
    align-content: center;
}

.add-note-box {
    max-width: 650px;
    margin-right: 60px;
    margin-left: 60px;
}

.input{
    background-color: #444444;
    color: white;
    
}
::placeholder{
    color: white;
    opacity: 0.8;
}

.floating-add-button  {
    // background-color: #421A4C;
    // max-width: 650px;
    // margin-right: 60px;
    // margin-left: 60px;
    // //position: fixed;
    // //bottom: 0;
    // color:white;
    // //z-index: 0;
    
    // &:hover {
    //   background-color: #84319B;

    // }
    // &:active {
    //     border-color: rgb(131, 69, 80);
    // }
    //position: relative;
    position: fixed;
    //bottom: 20px;
    bottom: 0;
    width: 500px;
    border-radius: 0;
    box-shadow: 0px 0px 15px 5px rgba(purple, 0.2);
    //margin-bottom: 10px;
    height: 40px;
    font-size: 20px;

}

.notes-list {
    margin-top: 35px;
    //overflow: hidden;
    margin-bottom: 70px;
}

app-notecard {
    display: block;
    margin-bottom: 25px;
}

